# Global
POSTGRES_DB=orangenexus
POSTGRES_USER=orangenexus
POSTGRES_PASSWORD=orangenexus
POSTGRES_PORT=5432
REDIS_PORT=6379

# API
API_PORT=8000
DATABASE_URL=postgresql+asyncpg://orangenexus:orangenexus@db:5432/orangenexus
SYNC_DATABASE_URL=postgresql://orangenexus:orangenexus@db:5432/orangenexus
SECRET_KEY=change_me
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# WEB
NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1
